.u-section-1 .u-sheet-1 {
    min-height: 249px;
  }
  
  .u-section-1 .u-group-1 {
    width: 800px;
    min-height: 89px;
    height: auto;
    margin: 140px auto 20px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    background-image: none;
    margin: 15px 151px 0 14px;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    font-size: 0.9375rem;
    background-image: none;
    margin: -54px 14px 0 auto;
    padding: 15px 43px 16px 42px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-group-1 {
      height: auto;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
      min-height: 261px;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 96px;
      margin-bottom: 25px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-1 .u-text-1 {
      width: auto;
      margin-right: 152px;
      margin-left: 0;
    }
  
    .u-section-1 .u-btn-1 {
      margin-right: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
      min-height: 217px;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 85px;
      margin-top: 120px;
      margin-bottom: 12px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 151px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 220px;
    }
  
    .u-section-1 .u-group-1 {
      min-height: 84px;
      margin-bottom: 16px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-1 .u-text-1 {
      margin-right: 143px;
    }
  }.u-section-2 .u-sheet-1 {
    min-height: 482px;
  }
  
  .u-section-2 .u-group-1 {
    width: 842px;
    min-height: 446px;
    height: auto;
    margin: 18px 140px 18px auto;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }
  
  .u-section-2 .u-btn-1 {
    border-style: none;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 10px auto 0 19px;
    padding: 15px 158px;
  }
  
  .u-section-2 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    margin: -52px 11px 0 auto;
    padding: 15px 158px;
  }
  
  .u-section-2 .u-group-2 {
    width: 800px;
    min-height: 354px;
    height: auto;
    background-image: none;
    margin: 11px 11px 0 auto;
  }
  
  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }
  
  .u-section-2 .u-layout-wrap-1 {
    width: 514px;
    margin: 19px auto 0;
  }
  
  .u-section-2 .u-layout-cell-1 {
    min-height: 60px;
  }
  
  .u-section-2 .u-container-layout-3 {
    padding: 5px 30px;
  }
  
  .u-section-2 .u-image-1 {
    width: 50px;
    height: 50px;
    margin: 0 auto 0 252px;
  }
  
  .u-section-2 .u-layout-cell-2 {
    min-height: 60px;
  }
  
  .u-section-2 .u-container-layout-4 {
    padding: 18px 0;
  }
  
  .u-section-2 .u-text-1 {
    background-image: none;
    font-size: 1.25rem;
    margin: 0 37px 0 19px;
  }
  
  .u-section-2 .u-layout-cell-3 {
    min-height: 60px;
  }
  
  .u-section-2 .u-container-layout-5 {
    padding: 0;
  }
  
  .u-section-2 .u-text-2 {
    margin: -3px 31px -3px 19px;
  }
  
  .u-section-2 .u-layout-cell-4 {
    min-height: 96px;
  }
  
  .u-section-2 .u-container-layout-6 {
    padding: 30px 0;
  }
  
  .u-section-2 .u-text-3 {
    margin: 0 31px 0 19px;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 100vh;
    }
  
    .u-section-2 .u-group-1 {
      min-height: 667px;
      height: auto;
      margin: 9px auto 38px 32px;
    }
  
    .u-section-2 .u-group-2 {
      min-height: 466px;
      margin-top: 32px;
      margin-right: auto;
      height: auto;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 90px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-bottom: 0;
    }
  
    .u-section-2 .u-image-1 {
      margin-top: 20px;
      margin-left: 260px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 73px;
    }
  
    .u-section-2 .u-layout-cell-3 {
      min-height: 121px;
    }
  
    .u-section-2 .u-text-2 {
      width: auto;
      margin-top: 30px;
    }
  
    .u-section-2 .u-layout-cell-4 {
      min-height: 60px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 973px;
    }
  
    .u-section-2 .u-group-1 {
      min-height: 914px;
      margin-bottom: 50px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-2 .u-btn-1 {
      margin-left: 0;
      padding: 14px 149px 16px;
    }
  
    .u-section-2 .u-btn-2 {
      margin-right: 0;
      padding-right: 131px;
      padding-left: 131px;
    }
  
    .u-section-2 .u-group-2 {
      margin-top: 30px;
      min-height: 701px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 159px;
    }
  
    .u-section-2 .u-image-1 {
      width: 88px;
      height: 84px;
      margin-top: 33px;
      margin-left: auto;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-2 .u-text-1 {
      width: auto;
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-2 .u-layout-cell-3 {
      min-height: 100px;
    }
  
    .u-section-2 .u-layout-cell-4 {
      min-height: 100px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 662px;
    }
  
    .u-section-2 .u-group-1 {
      min-height: 623px;
      margin-bottom: 30px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-btn-1 {
      margin-top: 11px;
      margin-left: 2px;
      padding-right: 104px;
      padding-bottom: 15px;
      padding-left: 102px;
    }
  
    .u-section-2 .u-btn-2 {
      padding-right: 86px;
      padding-left: 86px;
    }
  
    .u-section-2 .u-group-2 {
      margin-top: 19px;
      min-height: 480px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 103px;
    }
  
    .u-section-2 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-image-1 {
      margin-top: 8px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 108px;
    }
  
    .u-section-2 .u-layout-cell-3 {
      min-height: 90px;
    }
  
    .u-section-2 .u-text-2 {
      margin: 26px 0 0;
    }
  
    .u-section-2 .u-layout-cell-4 {
      min-height: 156px;
    }
  
    .u-section-2 .u-container-layout-6 {
      padding-bottom: 67px;
    }
  
    .u-section-2 .u-text-3 {
      width: auto;
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 568px;
    }
  
    .u-section-2 .u-group-1 {
      min-height: 529px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-btn-1 {
      margin-left: 0;
      padding-right: 55px;
      padding-left: 53px;
    }
  
    .u-section-2 .u-btn-2 {
      margin-top: -51px;
      margin-right: -2px;
      padding: 14px 36px 16px;
    }
  
    .u-section-2 .u-group-2 {
      margin-top: 7px;
      min-height: 406px;
      width: auto;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-2 .u-layout-wrap-1 {
      width: 340px;
      margin-right: -4px;
    }
  
    .u-section-2 .u-layout-cell-1 {
      min-height: 1px;
    }
  
    .u-section-2 .u-image-1 {
      margin-top: 2px;
    }
  
    .u-section-2 .u-layout-cell-2 {
      min-height: 7px;
    }
  
    .u-section-2 .u-text-1 {
      font-size: 3.75rem;
      margin-right: 6px;
    }
  
    .u-section-2 .u-layout-cell-3 {
      min-height: 59px;
    }
  
    .u-section-2 .u-text-2 {
      margin-top: 0;
      margin-right: 4px;
      margin-left: -4px;
    }
  
    .u-section-2 .u-layout-cell-4 {
      min-height: 1px;
    }
  
    .u-section-2 .u-container-layout-6 {
      padding-bottom: 30px;
    }
  }